<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>User Sign up</title>
    <link rel="stylesheet" href="static/css/style_1.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.4.1/jquery.js"></script>
  </head>
  <body>
    <form class="signup" action="https://signup_success.html" method="post">
      <div class="signbox">
        <div class="id">
          <input type="text" name="name" placeholder="ID">
        </div>
        <div class="pw">
          <input type="password" name="pw" placeholder="Password">
        </div>
        <div class="mac">
          <input type="text" name="mac" placeholder="Mac_Address">
        </div>
        <div class="email">
          <input type="email" name="email" placeholder="E-Mail">
        </div>
        <input type="submit" name="check" value="Sign up">
      </div>
    </form>
  </body>
</html>
