<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>User Sign up</title>
    <link rel="stylesheet" href="style_1.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.4.1/jquery.js"></script>
  </head>
  <body>
    <form class="sginup" action="login.html" method="post">
      <div class="signbox">
        <div class="id">
          <input type="text" class="name" placeholder="ID">
        </div>
        <div class="pw">
          <input type="password" class="pw" placeholder="Password">
        </div>
        <div class="pnum">
          <input type="number" class="phonenum" placeholder="Phone Number">
        </div>
        <div class="email">
          <input type="email" class="email" placeholder="E-Mail">
        </div>
        <input type="submit" name="check" value="Sign up">
      </div>
    </form>
  </body>
</html>
